.works {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}
  .list{
    width: 600px;
        height: 50%;
        background-color:grey;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
border-radius: 20px;


h1{
 margin-bottom: auto;
  text-align:center;
  padding-left: 180px;
  
}

  }  

